*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Century Gothic;
}
header
{
	background-color: rgb(100,220,30);
	background-size: cover;
	height: 90vh;
	background-position: absolute;

}
.home-menu
{
	background-color: rgb(100,220,30);
	text-align: right;
}
.home-menu ul
{

	display: inline-flex;
	list-style: none;
	color: #fff;

}
.home-menu ul li
{

	width: 120px;
	margin: 15px;
	padding: 10px;

}
.home-menu ul li a
{

	text-decoration: none;
	color: #fff;
}
.active,.home-menu ul li:hover
{
	background-color: #333;
	
	border-radius: 2px;
}
.home-menu .fa
{
	margin-right: 4px;
}
.logo img
{
	float: left;
	width: 30px;
	height: 30px;
	padding: 2px;
	margin-top: 10px;

}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	align-content: center;
	transform: translate(-50%,-50%);

}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	align-content: center;
	transform: translate(-50%,-50%);
	color: #fff;

}
.title h3{
	color: #fff;
	font-size: 40px;
}
.title h5{
	color: black;
	font-size: 14px;
}
.title h1{
	color: #fff;
	font-size: 42px;
}

footer {
  position: relative;
  top: 80%;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 15vh;
  background-color: #292c2f;
  color: #bbb;
  text-align: center;

}
.logo2 img
{
	float: center;
	width: 30px;
	height: 30px;
	padding: 2px;
	margin-top: 10px;

}


